body {
  text-align: center;
  margin: auto;
}

h2, label {
  font-family: 'Lato', sans-serif;
}

p {
  font-family:'Open Sans', sans-serif;
}

.card{
  width: 370px;
  height: auto;
  /* max-width: 100%;
  max-height: 100%; */
  transition: all 0.3s;
  float:left;
}

.card-body{
  background-color: grey;
}

.col{
  /* text-align: center; */
}
